/* PantryStaff.css */
.pantry-staff-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.pantry-staff-container {
  background-color: #f4f6f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

.form-container input,
.form-container button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-container input {
  width: 100%;
}

.form-container button {
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #2980b9;
}

.staff-list {
  list-style: none;
  padding: 0;
}

.staff-item {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.staff-item button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .pantry-staff-container {
      padding: 15px;
  }

  .form-container input,
  .form-container button {
      font-size: 14px;
      padding: 8px;
  }

  .staff-item {
      /* flex-direction: column; */
      align-items: self-end;
      margin: 10px 0;
      padding: 10px;
  }

  .staff-details {
      flex-direction: column;
      gap: 2px;
  }

  .staff-contact,
  .staff-location {
      font-size: 14px;
  }

  .staff-item button {
      /* width: 100%; */
      padding: 8px 25px;
      font-size: 14px;
      margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .staff-list-header,
  .staff-list-container {
      font-size: 16px;
      text-align: center;
  }

  .staff-item {
      padding: 8px;
      font-size: 14px;
  }

  .staff-name {
      font-size: 16px;
  }

  .staff-item button {
      font-size: 12px;
      padding: 6px;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
